# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
# Manter extensões recomendadas versionadas
.vscode/*
!.vscode/extensions.json

# Build artifacts
extension/dist/
extension/*.vsix

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Others
backend/node_modules/
extension/node_modules/
